@charset "UTF-8";

html, body
  { background-color: #000
  ; direction       : ltr
  ; unicode-bidi    : bidi-override
  ; margin          : 0
  ; padding         : 0
  ; width           : 100%
  }

body
  { padding-top     : 50%
  ; color           : #eee
  ; font-family     : courier
  ; font-size       : 32px
  ; font-weight     : bold
  ; height          : 100%
  ; text-align      : center
  ; white-space     : nowrap 
  }

@media (min-width:1281px)     /* hi-res laptops and desktops */
  { body
      { padding-top: 25%
      }
  }